{% extends "./base.html" %}

{% block title %} Inicio de Sesión {% endblock %}

{% block customCSS %}
<link rel="Stylesheet" href="{{ url_for('static',filename='css/login.css')}}">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Slackey" />
<link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
{% endblock %}

{% block body %}
<div class="container">
    
    <h1 class="comics-title">COMICS WORLD SHOP</h1>



<form class="form-signin" action="/login" method="POST">

    <input type='hidden' name='csrf_token' value="{{ csrf_token() }}">
    <h2 class="login">Inicio De Sesi&oacute;n</h2>
    <label for="usuario" class="sr-only">Usuario</label>
    <input type="text" id="usuario" name="usuario" class="form-control" placeholder="Usuario" minlength="6" maxlength="20" required autofocus><br>
    
    <br>

    <label for="password" class="sr-only">Contraseña</label>
    <input type="password" id="password" name="password"class="form-control" placeholder="Contraseña" minlength="6" maxlength="20" required>
    <div class="checkbox mb-3">
    
    <h6 class="sign-in-title">¿No tienes cuenta?</h6>
    <a href="./paginatributo.html">Regístrate aquí</a>

    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar
    </button>
    <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
</form>

</div>

{% endblock %}